# configuration file for plotting of secondary sources
#
# AUTHORS: Hagen Wierstorf
#          Fiete Winter

# @array_active
# plot filled points for every secondary source
set style line 211 lc rgb '#000000' lt 1 lw 3 pt 7 ps 0.75
array_active = 'u 1:2 ls 211 w p'

# @array_inactive
# plot open points for every secondary source
set style line 212 lc rgb '#000000' lt 3 lw 3 pt 65 ps 0.5
array_inactive = 'u 1:2 ls 212 w p'

# @array_virtual
# plot crosses for every virtual secondary source
set style line 213 lc rgb '#000000' lt 2 lw 4 ps 0.75
array_virtual = 'u 1:2 ls 213 w p'

# @array_continuous
# plot line for between each secondary source position
set style line 214 lc rgb '#000000' lt 1 lw 9 pt 7 ps 0.75
array_continuous = 'u 1:2 ls 214 w l'
