# definition of mathematical helper functions
#
# Copyright (c) 2014 - 2015 Hagen Wierstorf
#                      2015 Fiete Winter
#
# You can redistribute the material and/or modify it under the terms of
# Creative Commons Attribution 3.0 (CC BY 3.0)
#
# Link to License: https://creativecommons.org/licenses/by/3.0/

# degree to radian conversion
rad(phi) = phi/180.0*pi

# radian to degree conversion
deg(phi) = phi/pi*180.0

# rotate about angle
rotx(x, y, phi) = cos(rad(phi))*x - sin(rad(phi))*y
roty(x, y, phi) = sin(rad(phi))*x + cos(rad(phi))*y
