# definition of mathematical helper functions

#*****************************************************************************
# Copyright (c) 2012      Hagen Wierstorf                                    *
#                         Centre for Vision, Speech and Signal Processing    *
#                         University of Surrey                               *
#                         Guildford, GU2 7XH, UK                             *
# Copyright (c) 2013-2019 Fiete Winter                                       *
#                         Institut fuer Nachrichtentechnik                   *
#                         Universitaet Rostock                               *
#                         Richard-Wagner-Strasse 31, 18119 Rostock, Germany  *
#                                                                            *
# This file is part of the supplementary material for Fiete Winter's         *
# scientific work and publications                                           *
#                                                                            *
# You can redistribute the material and/or modify it  under the terms of the *
# GNU  General  Public  License as published by the Free Software Foundation *
# , either version 3 of the License,  or (at your option) any later version. *
#                                                                            *
# This Material is distributed in the hope that it will be useful, but       *
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY *
# or FITNESS FOR A PARTICULAR PURPOSE.                                       *
# See the GNU General Public License for more details.                       *
#                                                                            *
# You should  have received a copy of the GNU General Public License along   *
# with this program. If not, see <http://www.gnu.org/licenses/>.             *
#                                                                            *
# http://github.com/fietew/publications           fiete.winter@uni-rostock.de*
#*****************************************************************************

# degree to radian conversion
rad(phi) = phi/180.0*pi

# radian to degree conversion
deg(phi) = phi/pi*180.0

# rotate about angle
rotx(x, y, phi) = cos(rad(phi))*x - sin(rad(phi))*y
roty(x, y, phi) = sin(rad(phi))*x + cos(rad(phi))*y

# decibel
db(x) = 20*log10(abs(x))

# minimum & maximum
min(x,y) = (x<y) ? x : y
max(x,y) = (x>y) ? x : y

# parity check
even(n) = (n/2.0 == n/2 ? 1 : 0)
odd(n) = (n/2.0 == n/2 ? 0 : 1)

# pow x^y
pow(x,y) = exp(log(x)*y)
