# configuration file for plotting of secondary sources

#*****************************************************************************
# Copyright (c) 2012      Hagen Wierstorf                                    *
#                         Centre for Vision, Speech and Signal Processing    *
#                         University of Surrey                               *
#                         Guildford, GU2 7XH, UK                             *
# Copyright (c) 2013-2019 Fiete Winter                                       *
#                         Institut fuer Nachrichtentechnik                   *
#                         Universitaet Rostock                               *
#                         Richard-Wagner-Strasse 31, 18119 Rostock, Germany  *
#                                                                            *
# This file is part of the supplementary material for Fiete Winter's         *
# scientific work and publications                                           *
#                                                                            *
# You can redistribute the material and/or modify it  under the terms of the *
# GNU  General  Public  License as published by the Free Software Foundation *
# , either version 3 of the License,  or (at your option) any later version. *
#                                                                            *
# This Material is distributed in the hope that it will be useful, but       *
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY *
# or FITNESS FOR A PARTICULAR PURPOSE.                                       *
# See the GNU General Public License for more details.                       *
#                                                                            *
# You should  have received a copy of the GNU General Public License along   *
# with this program. If not, see <http://www.gnu.org/licenses/>.             *
#                                                                            *
# http://github.com/fietew/publications           fiete.winter@uni-rostock.de*
#*****************************************************************************

# @array_active
# plot filled points for every secondary source
set style line 211 lc rgb '#000000' lt 1 lw 3 pt 7 ps 0.75
array_active = 'u 1:2 ls 211 w p'

# @array_inactive
# plot open points for every secondary source
set style line 212 lc rgb '#000000' lt 3 lw 3 pt 65 ps 0.5
array_inactive = 'u 1:2 ls 212 w p'

# @array_virtual
# plot crosses for every virtual secondary source
set style line 213 lc rgb '#000000' lt 2 lw 4 ps 0.75
array_virtual = 'u 1:2 ls 213 w p'

# @array_continuous
# plot line for between each secondary source position
set style line 214 lc rgb '#000000' lt 1 lw 9 pt 7 ps 0.75
array_continuous = 'u 1:2 ls 214 w l'
