# definition of mathematical helper functions
#
# AUTHOR: Hagen Wierstorf
# MODIFICATIONS: Fiete Winter

# degree to radian conversion
rad(phi) = phi/180.0*pi

# radian to degree conversion
deg(phi) = phi/pi*180.0

# rotate about angle
rotx(x, y, phi) = cos(rad(phi))*x - sin(rad(phi))*y
roty(x, y, phi) = sin(rad(phi))*x + cos(rad(phi))*y

# decibel
db(x) = 20*log10(abs(x))
